.sidebar{
    display: inline-flex;
    top: 0;
    background-color: rgb(18, 126, 145);
    height: 100vh;
    width: 25vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
}

.profile-pic{
    width: 100px;
    border-radius: 50%;
}

.info-holder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}

.fullname{
    font-size: 24pt;
    font-weight: bold;
}

.info-item{
    font-size: 14pt;
}

.info-item a{
    text-decoration: none;
    color: black;
}