.post{
    width: 600px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 50px;
}

.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-pic{
    border-radius: 50%;
}

.post-name{
    margin-left: 20px;
    font-weight: bold;
}

.post-body{
    padding: 20px;
}